$jeopardy-blue: #060CE9;

div.show-question {
  background-color: $jeopardy-blue;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;

  .question-text {
    font-family: "Korinna Bold";
    font-size: 4.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 3px #000;
  }
}

.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: coral;
}

table {
  width: 100%;
  min-height: 100%;
  background-color: black;
  font-family: arial;
  text-align: center;
  font-size: 1em;
  test-transform: uppercase;
  border: 5px solid black
}

th {
  color: white;
  background-color: blue;
  border-radius: 10px;
  border: 4px solid black;
  font-size: 2em;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 4px 4px 3px #000;
}

td.clue-value {
  font-family: "Swiss 911";
  font-size: 5.5rem;
  font-weight: 500;
  color: gold;
  text-shadow: 4px 4px 3px #000;
  letter-spacing: 0.1rem;
}

td {
  border: 4px solid black;
  border-radius: 7px;
  text-shadow:
  -0.40px -0.40px 0 #000,
  0.40px -0.40px 0 #000,
  -0.40px 0.40px 0 #000,
  0.40px 0.40px 0 #000;
}

tbody {
  background-color: blue
}

.connected-players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

