$jeopardy-blue: #060CE9;

div.show-question {
  background-color: $jeopardy-blue;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;

  .question-text {
    font-family: "Korinna Bold";
    font-size: 4.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 3px #000;
  }
}

table {
  background-color: black;
  font-family: arial;
  text-align: center;
  font-size: 1em;
  test-transform: uppercase;
  border: 5px solid black
}

th {
  color: white;
  background-color: blue;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 1.2em;
  text-shadow:
  -0.5px -0.5px 0 #000,
  0.5px -0.5px 0 #000,
  -0.5px 0.5px 0 #000,
  0.5px 0.5px 0 #000;
}

td.clue-value {
  font-family: "Swiss 911";
  font-size: 3rem;
  font-weight: 600;
  color: gold;
}

td {
  border: 2px solid black;
  border-radius: 7px;
  text-shadow:
  -0.40px -0.40px 0 #000,
  0.40px -0.40px 0 #000,
  -0.40px 0.40px 0 #000,
  0.40px 0.40px 0 #000;
}

tbody {
  background-color: blue
}


